/* HomeView.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: visible;
}

.home-view {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the home view takes at least the full viewport height */
    width: 100%;
    font-family: 'helvetica';
}
